.header {
  height: 75vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-image {
  background-image: url(https://d10cq78zmnjvsx.cloudfront.net/images/marketing/ria/homepage-hero-fullsize-100517v2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-size: 46px;
  font-weight: 300;
  color: #242628;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 12px;
}

.subtitle {
  font-size: 24px;
  color: #242628;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}